<div class="copright">
    <div class="container-main">
        <div class="footer-copyright">
            <div>
                <p class="copyright-text">{{ 'index.P_275' | t }}</p>
            </div>
            <div>
                <p class="designed-in-text">{{ 'index.P_276' | t }}<span class="text-span">{{ 'index.SPAN_277' | t }}</span>{{ 'index.P_278' | t }}</p>
            </div>
            <div>
                <p class="developed-by-text">{{ 'index.P_279' | t }}<a href="https://www.haewonkim.com/" target="_blank" class="web-devleoper-link">{{ 'index.A_280' | t }}</a></p>
            </div>
        </div>
    </div>
</div>