<div data-hover="1" data-delay="0" class="w-dropdown">
    <div class="dropdown-toggle-2 w-dropdown-toggle">
        <div class="icon-dropdown w-icon-dropdown-toggle"></div>
        <div class="shop-text">{{ 'cart.DIV_61' | t }}</div>
    </div>
    <nav class="dropdown-list-3 w-dropdown-list">
        <div class="links-container">
            <a href="/collections/main-collection" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c02847f" class="shop-links w-dropdown-link">All Products</a>
            <a href="/collections/face-masks" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028481" class="shop-links w-dropdown-link">{{ 'cart.A_62' | t }}</a>
            <a href="/collections/gloves" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028483" class="shop-links w-dropdown-link">{{ 'cart.A_63' | t }}</a>
            <a href="/collections/sanitizers" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028485" class="shop-links w-dropdown-link">{{ 'cart.A_64' | t }}</a>
            <a href="/collections/disinfecting-wipes" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028487" class="shop-links w-dropdown-link">{{ 'cart.A_65' | t }}</a>
            <a href="/collections/kits" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028489" class="shop-links w-dropdown-link">{{ 'cart.A_66' | t }}</a>
        </div>

        <div class="image-container"><img src="{{ 'wipe-product.png' | asset_url }}" alt="" class="disinfecting-wipe-image"><img src="{{ 'products-banner-1.png' | asset_url }}" alt="" class="image-allproducts"><img src="{{ 'mask-product.png' | asset_url }}" width="204" alt="" class="face-mask-image"><img src="{{ 'sanitizer-product.png' | asset_url }}" width="204" alt="" class="sanitizer-image"><img src="{{ 'gloves-product.png' | asset_url }}" width="208" alt="" class="gloves-image"><img src="{{ 'ppekit-product.png' | asset_url }}" width="508" alt="" class="all-products-image"></div>
        <div class="content-container">
            <div class="content-container-all-products">
            <div class="content-container-text">{{ 'cart.DIV_67' | t }}<br>{{ 'cart.DIV_68' | t }}</div>
            <a href="/collections/main-collection" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028498" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                <div class="text-block-129">{{ 'cart.DIV_69' | t }}</div>
            </a>
            </div>
            <div class="content-container-face-masks">
            <div class="content-container-text">{{ 'cart.DIV_70' | t }}</div>
            <a href="/collections/face-mask" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c02849e" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                <div>{{ 'cart.DIV_71' | t }}</div>
            </a>
            </div>
            <div class="content-container-gloves">
            <div class="content-container-text">{{ 'cart.DIV_72' | t }}</div>
            <a href="/collections/gloves" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c0284a4" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                <div>{{ 'cart.DIV_73' | t }}</div>
            </a>
            </div>
            <div class="content-container-sanitizers">
            <div class="content-container-text">{{ 'cart.DIV_74' | t }}<br>{{ 'cart.DIV_75' | t }}</div>
            <a href="/collections/sanitizers" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c0284ac" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                <div>{{ 'cart.DIV_76' | t }}</div>
            </a>
            </div>
            <div class="content-container-wipes">
            <div class="content-container-text">{{ 'cart.DIV_77' | t }}</div>
            <a href="/collections/disinfecting-wipes" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c0284b2" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                <div>{{ 'cart.DIV_78' | t }}</div>
            </a>
            </div>
            <div class="content-container-ppe-kits">
            <div class="content-container-text">{{ 'cart.DIV_79' | t }}<br>{{ 'cart.DIV_80' | t }}</div>
            <a href="/collections/kits" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c0284ba" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                <div class="text-block-129">{{ 'cart.DIV_81' | t }}</div>
            </a>
            </div>
        </div>
    </nav>
</div>