{% comment %} <div class="section _100vh footer">
    <div class="container-main">
    <div class="motto-wrap">
        <h4>{{ 'index.H4_270' | t }}</h4>
        <div class="divider-2 green"></div>
    </div>
    <div class="top-margin-3">
        <div class="intro-content margin-auto">
        <div class="columns w-row">
            <div class="w-col w-col-6">
            <a href="https://www.google.com/maps?q=250+w+nyack+rd+west+nyack+ny+10994&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;ved=2ahUKEwjIuf6soIfqAhWGRTABHbCGALoQ_AUoAXoECAwQAw" target="_blank" class="div-block-312 w-inline-block">
                <h5 class="small-title">{{ 'index.H5_271' | t }}</h5>
                <p class="mobile-text-left-align">{{ 'index.P_272' | t }}</p>
            </a>
            </div>
            <div class="w-col w-col-6">
            <a href="mailto:sales@ppebuddy.com?subject=You've%20got%20email" class="div-block-312 left-align w-inline-block">
                <h5 class="small-title">{{ 'index.H5_273' | t }}</h5>
                <p class="paragraph-78">{{ 'index.P_274' | t }}</p>
            </a>
            </div>
        </div>
        </div>
    </div>
    <div class="footer-company-info"><a href="#" class="home-button footer w-inline-block"></a>
        <div class="social-media-floating footer"><a href="https://www.linkedin.com/company/ppebuddy%E2%84%A2" target="_blank" class="linkedin w-inline-block"></a><a href="https://www.instagram.com/myppebuddy/" target="_blank" class="instagram w-inline-block"></a></div>
    </div>
    </div>
</div> 

{% include 'footer_copyright' %} {% endcomment %}


<div class="main-footer">
   <div class="main-container">
      <div class="main-logo">
         <a class="footer-logo" href="/">
           <img src="https://cdn.shopify.com/s/files/1/0443/9264/4760/files/footer-logo.png?v=1603131269"/>
         </a>
      </div>
      <div class="address-email">
         <a href="https://www.google.com/maps?q=250+w+nyack+rd+west+nyack+ny+10994&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjIuf6soIfqAhWGRTABHbCGALoQ_AUoAXoECAwQAw">250 W Nyack Rd, West Nyack, NY 10994</a>
         <a href="mailto:sales@ppebuddy.com?subject=You've%20got%20email">sales@ppebuddy.com</a>
      </div>
      <div class="footer-social-icons">
        <ul>
            <li>
               <a href="https://www.linkedin.com/company/ppebuddy%E2%84%A2" target="_blank">
                 <img src="https://cdn.shopify.com/s/files/1/0443/9264/4760/files/link_in.png?v=1603131269">
               </a>
            </li>
            <li>
               <a href="https://www.instagram.com/myppebuddy/"  target="_blank">
                  <img src="https://cdn.shopify.com/s/files/1/0443/9264/4760/files/instagram.png?v=1603131269">
               </a>
            </li>
        </ul>
      </div>
      <div class="copyright-wrap">
         <p>© Copyright 2020 PPEBuddy™ <br> Designed & Distributed with <span class="heart">♥</span> in the USA</p>
      </div>
   </div>
</div>


