{% layout 'cart' %}
  
  {% include 'case_counter' %}
  {% section 'header' %}
  <div class="preloader"><img src="{{ 'logo_blue-1.png' | asset_url }}" width="200" alt="" class="logo-preloader">
    <div data-w-id="bce50fe6-f179-2dd3-283e-6c552986c2d6" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/5e3a95568c461017d7e7a30b/5e3be132807b8721620cf527_lf30_editor_n6xHam.json" data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.9696361820138772" data-duration="" class="lottie-animation-2"></div>
  </div>
  <div style="display:none" class="main">

    {% include 'mobile_menu_btn' %}
    
    {% include 'mobile_navigation' %}

    {% comment %} <div data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1" role="banner" class="navbar w-nav"><a href="/" class="brand-2 w-nav-brand"><img src="{{ 'PPE-Buddy_logos_logo_blue.svg' | asset_url }}" alt=""></a>
      <div class="nav-wrapper">
        <div data-hover="1" data-delay="0" class="w-dropdown">
          <div class="dropdown-toggle-2 w-dropdown-toggle">
            <div class="icon-dropdown w-icon-dropdown-toggle"></div>
            <div class="shop-text">{{ 'cart.DIV_61' | t }}</div>
          </div>
          <nav class="dropdown-list-3 w-dropdown-list">
            <div class="links-container">{% for link in linklists['shop-menu-1'].links %}<a href="{{ link.url }}" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c02847f" class="shop-links w-dropdown-link">{{ link.title }}</a>{% endfor %}<a href="/collections/face-masks" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028481" class="shop-links w-dropdown-link">{{ 'cart.A_62' | t }}</a><a href="/collections/gloves" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028483" class="shop-links w-dropdown-link">{{ 'cart.A_63' | t }}</a><a href="/collections/sanitizers" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028485" class="shop-links w-dropdown-link">{{ 'cart.A_64' | t }}</a><a href="/collections/disinfecting-wipes" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028487" class="shop-links w-dropdown-link">{{ 'cart.A_65' | t }}</a><a href="/collections/kits" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028489" class="shop-links w-dropdown-link">{{ 'cart.A_66' | t }}</a></div>
            <div class="image-container"><img src="{{ 'wipe-product.png' | asset_url }}" alt="" class="disinfecting-wipe-image"><img src="{{ 'products-banner-1.png' | asset_url }}" alt="" class="image-allproducts"><img src="{{ 'mask-product.png' | asset_url }}" width="204" alt="" class="face-mask-image"><img src="{{ 'sanitizer-product.png' | asset_url }}" width="204" alt="" class="sanitizer-image"><img src="{{ 'gloves-product.png' | asset_url }}" width="208" alt="" class="gloves-image"><img src="{{ 'ppekit-product.png' | asset_url }}" width="508" alt="" class="all-products-image"></div>
            <div class="content-container">
              <div class="content-container-all-products">
                <div class="content-container-text">{{ 'cart.DIV_67' | t }}<br>{{ 'cart.DIV_68' | t }}</div>
                <a href="#" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028498" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                  <div class="text-block-129">{{ 'cart.DIV_69' | t }}</div>
                </a>
              </div>
              <div class="content-container-face-masks">
                <div class="content-container-text">{{ 'cart.DIV_70' | t }}</div>
                <a href="#" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c02849e" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                  <div>{{ 'cart.DIV_71' | t }}</div>
                </a>
              </div>
              <div class="content-container-gloves">
                <div class="content-container-text">{{ 'cart.DIV_72' | t }}</div>
                <a href="#" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c0284a4" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                  <div>{{ 'cart.DIV_73' | t }}</div>
                </a>
              </div>
              <div class="content-container-sanitizers">
                <div class="content-container-text">{{ 'cart.DIV_74' | t }}<br>{{ 'cart.DIV_75' | t }}</div>
                <a href="#" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c0284ac" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                  <div>{{ 'cart.DIV_76' | t }}</div>
                </a>
              </div>
              <div class="content-container-wipes">
                <div class="content-container-text">{{ 'cart.DIV_77' | t }}</div>
                <a href="#" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c0284b2" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                  <div>{{ 'cart.DIV_78' | t }}</div>
                </a>
              </div>
              <div class="content-container-ppe-kits">
                <div class="content-container-text">{{ 'cart.DIV_79' | t }}<br>{{ 'cart.DIV_80' | t }}</div>
                <a href="#" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c0284ba" class="menu-content-button cc-jumbo-button blue-to-white w-inline-block">
                  <div class="text-block-129">{{ 'cart.DIV_81' | t }}</div>
                </a>
              </div>
            </div>
          </nav>
        </div>
        <nav role="navigation" class="main-menu w-nav-menu"><a href="#" class="megamenu-link w-nav-link">{{ 'cart.A_82' | t }}</a><a href="#" class="megamenu-link w-nav-link">{{ 'cart.A_83' | t }}</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
        <form action="/search" post-type="product" class="search-products-main w-form" method="get" role="search"><input type="search" class="search-input-main w-input" maxlength="256" name="q" placeholder="Search a product…" id="search" required="" value="{{ search.terms | escape }}"><input type="submit" value="Search" class="main-button search-box-main w-button">
          <div class="div-block-339"></div>
        </form>
        <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart-2"><a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button-2 w-inline-block"><img src="{{ 'shopping-cart-1.png' | asset_url }}" loading="lazy" width="20" alt=""><svg class="w-commerce-commercecartopenlinkicon icon-16" width="17px" height="17px" viewBox="0 0 17 17"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M2.60592789,2 L0,2 L0,0 L4.39407211,0 L4.84288393,4 L16,4 L16,9.93844589 L3.76940945,12.3694378 L2.60592789,2 Z M15.5,17 C14.6715729,17 14,16.3284271 14,15.5 C14,14.6715729 14.6715729,14 15.5,14 C16.3284271,14 17,14.6715729 17,15.5 C17,16.3284271 16.3284271,17 15.5,17 Z M5.5,17 C4.67157288,17 4,16.3284271 4,15.5 C4,14.6715729 4.67157288,14 5.5,14 C6.32842712,14 7,14.6715729 7,15.5 C7,16.3284271 6.32842712,17 5.5,17 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg><div class="text-block-128 w-inline-block">{{ 'cart.DIV_84' | t }}</div><div class="w-commerce-commercecartopenlinkcount cart-quantity-4" udy-el="cart-count">{{ cart.item_count }}</div></a>
          <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar">
            <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer">
              <div class="w-commerce-commercecartheader">
                <h4 class="w-commerce-commercecartheading heading-81">{{ 'cart.H4_85' | t }}</h4><a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero" fill="#333333"><polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon></g></g></svg></a></div>
              <div class="w-commerce-commercecartformwrapper">
                <form data-node-type="commerce-cart-form" class="w-commerce-commercecartform default-state-4 {% if cart.item_count == 0 %}udesly-display-none{% endif %}">
                  
                  <ul role="list" class="mini-cart-list" udy-el="items-list">
                    {% for item in cart.items %}
                    <li class="cart-item-2">
                      <div class="mini-cart-row">
                        <div class="variations-main-wrapper">
                          <div class="mini-cart-featured-image" style="background-image: url({{ item | img_url: 'large' }})"></div>
                          <div class="minicart-info">
                            <div class="text-block-38">{{ item.product.title }}</div>
                            <div class="text-block-39">{{ item.price | money }}</div><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="link-9" udy-el="remove-item">{{ 'cart.A_86' | t }}</a></div>
                        </div>
                        <div class="cart-quantity-3">{{ item.quantity }}</div>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                  <div class="w-commerce-commercecartfooter {% if cart.item_count == 0 %}udesly-display-none{% endif %}" udy-el="cart-actions">
                    <div class="w-commerce-commercecartlineitem">
                      <div>{{ 'cart.DIV_87' | t }}</div>
                      <div class="w-commerce-commercecartordervalue" udy-el="cart-total">{{ cart.total_price | money }}</div>
                    </div>
                    <div>
                      <div data-node-type="commerce-cart-quick-checkout-actions" class="web-payments-3">
                        <a data-node-type="commerce-cart-apple-pay-button" style="background-image:-webkit-named-image(apple-pay-logo-white);background-size:100% 50%;background-position:50% 50%;background-repeat:no-repeat" class="w-commerce-commercecartapplepaybutton">
                          <div></div>
                        </a><a data-node-type="commerce-cart-quick-checkout-button" style="display:none" class="w-commerce-commercecartquickcheckoutbutton"><svg class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16"><defs><polygon id="google-mark-a" points="0 .329 3.494 .329 3.494 7.649 0 7.649"></polygon><polygon id="google-mark-c" points=".894 0 13.169 0 13.169 6.443 .894 6.443"></polygon></defs><g fill="none" fill-rule="evenodd"><path fill="#4285F4" d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469"></path><path fill="#34A853" d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16"></path><g transform="translate(0 4)"><mask id="google-mark-b" fill="#fff"><use xlink:href="#google-mark-a"></use></mask><path fill="#FBBC04" d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337" mask="url(#google-mark-b)"></path></g><mask id="google-mark-d" fill="#fff"><use xlink:href="#google-mark-c"></use></mask><path fill="#EA4335" d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291" mask="url(#google-mark-d)"></path></g></svg><svg class="w-commerce-commercequickcheckoutmicrosofticon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd"><polygon fill="#F05022" points="7 7 1 7 1 1 7 1"></polygon><polygon fill="#7DB902" points="15 7 9 7 9 1 15 1"></polygon><polygon fill="#00A4EE" points="7 15 1 15 1 9 7 9"></polygon><polygon fill="#FFB700" points="15 15 9 15 9 9 15 9"></polygon></g></svg><div>{{ 'cart.DIV_88' | t }}</div></a></div><a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton continue-to-checkout-button" data-loading-text="Hang Tight...">{{ 'cart.A_89' | t }}</a></div>
                  </div>
                </form>
                <div class="w-commerce-commercecartemptystate empty-state-cart {% if cart.item_count != 0 %}udesly-display-none{% endif %}" udy-el="no-items-in-cart"><img src="{{ 'empty-cart-icon-1.png' | asset_url }}" width="130" alt="" class="image-50">
                  <div class="empty-cart-text">{{ 'cart.DIV_90' | t }}</div>
                  <div class="empty-cart-text2">{{ 'cart.DIV_91' | t }}<br>{{ 'cart.DIV_92' | t }}</div>
                  <a href="#PPE-KIT" data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c02850d" class="empty-cart-button cc-jumbo-button cc-jumbo-blue z-7 w-inline-block">
                    <div class="text-block-131">{{ 'cart.DIV_93' | t }}</div>
                  </a>
                </div>
                <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                  <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue.">{{ 'cart.DIV_94' | t }}</div>
                </div>
              </div>
            </div>
          </div>
        <script id="mini-cart-template">
          window.udeslyMiniCartTemplate = function(item) {
            return `<li class="cart-item-2" data-item-id="${item.id}">
                      <div class="mini-cart-row">
                        <div class="variations-main-wrapper">
                          <div class="mini-cart-featured-image" style="background-image: url(${item.image})"></div>
                          <div class="minicart-info">
                            <div class="text-block-38">${item.title}</div>
                            <div class="text-block-39">${item.price}</div><a href="${item.remove}" class="link-9" udy-el="remove-item">remove</a></div>
                        </div>
                        <div class="cart-quantity-3">${item.quantity}</div>
                      </div>
                    </li>`
          }
          </script></div>
      </div>
      <div class="account-button">
        <div data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028513" class="account-details"><img src="{{ 'user-2.png' | asset_url }}" width="75" alt="" class="account-icon">{% if customer %}<a href="/account" class="link-block-12 w-inline-block"></a>{% endif %}</div>{% unless customer %}<a data-w-id="b32deb1b-c0d9-2e0a-86b3-94018c028516" href="/account/login" class="sign-in-button w-button">{{ 'cart.A_95' | t }}</a>{% endunless %}</div>
    </div> {% endcomment %}


    <div data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1" role="banner" class="navbar1 active-nav1 white w-nav">
      <div class="nav1-wrap"><a href="/" id="w-node-03b6fa256c9c-fa256c9a" class="brand w-nav-brand"><img src="{{ 'PPE-Buddy_logos_logo_blue.svg' | asset_url }}" alt="" class="image"></a>
        <div id="w-node-03b6fa256c9e-fa256c9a" class="nav1-menu-wrap">
          <nav role="navigation" class="megamenu w-nav-menu">{% for link in linklists['menu'].links %}{% unless link.links != blank %}<a href="{{ link.url }}" class="nav-link-2 w-nav-link">{{ link.title }}</a>{% endunless %}
            {% if link.links != blank %}<div data-hover="" data-delay="0" class="w-dropdown">
              <div class="w-dropdown-toggle">
                <div class="icon-15 w-icon-dropdown-toggle"></div>
                <div class="text-block-125" data-href="{{ link.url }}">{{ link.title }}</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">{% for child_link in link.links %}<a href="{{ child_link.url }}" class="dropdown-link w-dropdown-link">{{ child_link.title }}</a>{% endfor %}</nav>
            </div>{% endif %}
          {% endfor %}</nav>{% unless customer %}<a href="#" class="main-button w-button">{{ 'cart.A_96' | t }}</a>{% endunless %}{% if customer %}<a href="/account" class="main-button w-button">{{ 'cart.A_97' | t }}</a>{% endif %}
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart"><a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button w-inline-block"><img src="{{ '5ea444450e34982891325943_bag.svg' | asset_url }}" width="20" alt=""><div class="w-commerce-commercecartopenlinkcount cart-quantity" udy-el="cart-count">{{ cart.item_count }}</div></a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar cart-wrap">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
                <div class="w-commerce-commercecartheader cart-header"><img src="{{ '5ec6a8dcd2e207163b348b75_foodo.svg' | asset_url }}" width="83" alt="">
                  <h4 class="w-commerce-commercecartheading cart-heading">{{ 'cart.H4_98' | t }}</h4><a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink close-button w-inline-block"><img src="{{ 'CloseCart2x_1CloseCart2x.png' | asset_url }}" width="11" alt="" class="cart-close-icon"></a></div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" class="w-commerce-commercecartform default-state-2 {% if cart.item_count == 0 %}udesly-display-none{% endif %}">
                    
                    
                    <ul role="list" class="mini-cart-list" udy-el="items-list">
                      {% for item in cart.items %}<li class="cart-item-2">
                        <div class="mini-cart-row">
                          <div class="variations-main-wrapper">
                            <div class="mini-cart-featured-image" style="background-image: url({{ item | img_url: 'large' }})"></div>
                            <div class="minicart-info">
                              <div class="text-block-38">{{ item.product.title }}</div>
                              <div class="text-block-39">{{ item.price | money }}</div><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="link-9" udy-el="remove-item">{{ 'cart.A_99' | t }}</a></div>
                          </div>
                          <div class="cart-quantity-3">{{ item.quantity }}</div>
                        </div>
                      </li>{% endfor %}
                    </ul>
                    <div class="w-commerce-commercecartfooter cart-footer {% if cart.item_count == 0 %}udesly-display-none{% endif %}" udy-el="cart-actions">
                      <div class="w-commerce-commercecartlineitem cart-line-item">
                        <div class="size5-text">{{ 'cart.DIV_100' | t }}</div>
                        <div class="w-commerce-commercecartordervalue size6-text" udy-el="cart-total">{{ cart.total_price | money }}</div>
                      </div>
                      <div>
                        <div data-node-type="commerce-cart-quick-checkout-actions" class="web-payments-2">
                          <a data-node-type="commerce-cart-apple-pay-button" style="background-image:-webkit-named-image(apple-pay-logo-white);background-size:100% 50%;background-position:50% 50%;background-repeat:no-repeat" class="w-commerce-commercecartapplepaybutton web-payment-button">
                            <div></div>
                          </a><a data-node-type="commerce-cart-quick-checkout-button" style="display:none" class="w-commerce-commercecartquickcheckoutbutton"><svg class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16"><defs><polygon id="google-mark-a" points="0 .329 3.494 .329 3.494 7.649 0 7.649"></polygon><polygon id="google-mark-c" points=".894 0 13.169 0 13.169 6.443 .894 6.443"></polygon></defs><g fill="none" fill-rule="evenodd"><path fill="#4285F4" d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469"></path><path fill="#34A853" d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16"></path><g transform="translate(0 4)"><mask id="google-mark-b" fill="#fff"><use xlink:href="#google-mark-a"></use></mask><path fill="#FBBC04" d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337" mask="url(#google-mark-b)"></path></g><mask id="google-mark-d" fill="#fff"><use xlink:href="#google-mark-c"></use></mask><path fill="#EA4335" d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291" mask="url(#google-mark-d)"></path></g></svg><svg class="w-commerce-commercequickcheckoutmicrosofticon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd"><polygon fill="#F05022" points="7 7 1 7 1 1 7 1"></polygon><polygon fill="#7DB902" points="15 7 9 7 9 1 15 1"></polygon><polygon fill="#00A4EE" points="7 15 1 15 1 9 7 9"></polygon><polygon fill="#FFB700" points="15 15 9 15 9 9 15 9"></polygon></g></svg><div>{{ 'cart.DIV_101' | t }}</div></a></div>
                        <div style="position:relative" data-wf-paypal-button="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;color&quot;:&quot;black&quot;,&quot;shape&quot;:&quot;rect&quot;,&quot;label&quot;:&quot;paypal&quot;,&quot;tagline&quot;:false}" class="paypal">
                          <div style="position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;z-index:999;cursor:auto"></div>
                        </div><a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton main-button" data-loading-text="Hang Tight...">{{ 'cart.A_102' | t }}</a></div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate empty-state dark-cart-empty-state {% if cart.item_count != 0 %}udesly-display-none{% endif %}" udy-el="no-items-in-cart">
                    <div>{{ 'cart.DIV_103' | t }}</div>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate error-message">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-cart_order_min-error="Cart failed.">{{ 'cart.DIV_104' | t }}</div>
                  </div>
                </div>
              </div>
            </div>
          <script id="mini-cart-template">
          window.udeslyMiniCartTemplate = function(item) {
            return `<li class="cart-item-2" data-item-id="${item.id}">
                        <div class="mini-cart-row">
                          <div class="variations-main-wrapper">
                            <div class="mini-cart-featured-image" style="background-image: url(${item.image})"></div>
                            <div class="minicart-info">
                              <div class="text-block-38">${item.title}</div>
                              <div class="text-block-39">${item.price}</div><a href="${item.remove}" class="link-9" udy-el="remove-item">remove</a></div>
                          </div>
                          <div class="cart-quantity-3">${item.quantity}</div>
                        </div>
                      </li>`
          }
          </script>
          </div>
          <div class="menu-button w-nav-button"><img src="{{ 'menu-black.svg' | asset_url }}" width="15" alt="" class="menu-icon"></div>
        </div>
      </div>
    </div>

    <div class="section-22">
      {% if cart.item_count > 0 %}<div class="cart---copy-this w-form">
        <form data-name="Email Form" method="post" novalidate="novalidate" action="/cart">
          <div class="table-header w-hidden-tiny">
            <div class="table-header-data-2 product">
              <p class="table-header-label">{{ 'cart.P_105' | t }}</p>
            </div>
            <div class="table-header-data-2">
              <p class="table-header-label">{{ 'cart.P_106' | t }}</p>
            </div>
            <div class="table-header-data-2">
              <p class="table-header-label">{{ 'cart.P_107' | t }}</p>
            </div>
            <div class="table-header-data-2 last">
              <p class="table-header-label">{{ 'cart.P_108' | t }}</p>
            </div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="collection-list-9 w-dyn-items">
              {% for item in cart.items %}
              <div role="listitem" class="collection-item-2 w-dyn-item">
                <div class="cart-row---copy-this">
                  <div class="table-row-data product">
                    <div class="product-info-wrapper">
                      <a href="/cart/change?line={{ forloop.index }}&amp;amp;quantity=0" class="link-block-11 w-inline-block" udy-el="remove-item">
                        <div class="text-block-96">{{ 'cart.DIV_109' | t }}</div><img src="https://uploads-ssl.webflow.com/5de9029010e995230514953f/5de9029110e9954c481495c3_trash.main.svg" width="20" alt=""></a><img src="{{ item | img_url: 'large' }}" width="80" alt="{{ item.alt }}" class="image-35">
                      <div class="div-block-162"><a href="{{ item.product.url }}" class="link-7">{{ item.product.title }}</a>
                        {% unless item.product.has_only_default_variant %}<div class="text-block-98">{{ item.variant.title }}</div>{% endunless %}
                      </div>
                    </div>
                  </div>
                  <div class="table-row-data price">
                    <div class="price-3">{{ item.price | money }}</div>
                  </div>
                  <div class="table-row-data quantity"><input type="number" class="text-field-4 w-input" maxlength="256" name="updates[]" placeholder="1" id="updates_{{ item.key }}" required="" min="0" value="{{ item.quantity }}"></div>
                  <div class="table-row-data total">
                    <div class="text-block-80">{{ item.final_line_price | money }}</div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            
          </div>
          <div class="div-block-7"><input type="submit" value="Update" data-wait="Waiting..." id="w-node-333e2f7ccae7-dbcada33" class="button-6 white update-cart w-button" name="update"></div>
          <div class="div-block-176">
            <div wc="cart-totals" class="cart-totals---copy-this">
              <div class="div-block-9">
                <div class="text-block-81">{{ 'cart.DIV_110' | t }}</div>
                <div class="text-block-82">{{ cart.total_price | money }}</div>
              </div>
              <div class="div-block-9">
                <div class="text-block-81">{{ 'cart.DIV_111' | t }}</div>
                <div class="text-block-82">{% include 'cart-total-discounts' %}</div>
              </div><input type="submit" value="Go to Checkout" data-wait="Please wait..." class="button-6 white checkout w-button" name="checkout"></div>
          </div>
        </form>
        
        
      </div>{% endif %}
    </div>
    
    {% section 'footer' %}
    

    <div class="mobile-landscape-message">
      <h1 class="heading-79">{{ 'cart.H1_123' | t }}<br>{{ 'cart.H1_124' | t }}</h1>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5f1873fee0c93a114d25e26b" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}{{ 'option_selection.js' | shopify_asset_url | script_tag }}